h1{
    text-align: center;
    color: black;
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#cruzeiro{
    margin-right: 10px;
    text-align: center;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
}
#america{
    margin-left: 10px;
    text-align: center;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
}
#atletico{
    text-align: center;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
}
.divmae{    
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.times{
    color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    float: left;
}
img{
    width: 60px;
    height: 60px;
}
body{
    margin: 0;
}